# git-crypt
* !filter !diff
*.gpg binary
git-crypt-secret filter=git-crypt diff=git-crypt
*secret* filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt

# blackbox
**/blackbox-admins.txt text eol=lf
**/blackbox-files.txt text eol=lf

# gitHub-linguist
# reclassify HTML to not be detected
*.html linguist-vendored
