[user]
	name = Jimmy Briggs
	email = jimmy.briggs@jimbrig.com
	signingKey = 3970755CB8844CDACB681B4C0917266E974D7790
[default]
	protocol = ssh
[gpg]
	program = gpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[help]	
	autocorrect = 1
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
    	meta = yellow bold
    	frag = magenta bold
    	old = red bold
    	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	branch = magenta

