<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.install" />
  <package id="file-converter" />
  <package id="LinkShellExtension" />
  <package id="rapidee" />
  <package id="uninstalltool.portable" />
  <package id="winaero-tweaker.install" />
  <package id="alt-tab-terminator" />
  <package id="freefilesync" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="inssider-home" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="insted" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="ntlite-free" arguments="" />
  <package id="ussf" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="ventoy" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
