[submodule "dependencies/windows10-debloater"]
	path = dependencies/windows10-debloater
	url = git@github.com:Sycnex/Windows10Debloater.git
[submodule "dependencies/git-crypt"]
	path = dependencies/git-crypt
	url = git@github.com:AGWA/git-crypt.git
[submodule "dependencies/get-pip.py"]
	path = dependencies/get-pip.py
	url = git@gist.github.com:d08ae448f5ee914fb608bd796f8ccc40.git
[submodule "dependencies/topgrade"]
	path = dependencies/topgrade
	url = git@github.com:r-darwish/topgrade.git
[submodule "dependencies/git-toolbelt"]
	path = dependencies/git-toolbelt
	url = git@github.com:nvie/git-toolbelt.git
[submodule "dependencies/todoist-global-hotkey"]
	path = dependencies/todoist-global-hotkey
	url = git@github.com:mgroat/Todoist-Global-Hotkey.git
[submodule "dependencies/powershell-config"]
	path = dependencies/powershell-config
	url = git@github.com:r-darwish/powershell-config.git
[submodule "powershell/PowerShell"]
	path = powershell/PowerShell
	url = git@github.com:jimbrig/PowerShell.git
[submodule "powershell/WindowsPowerShell"]
	path = powershell/WindowsPowerShell
	url = git@github.com:jimbrig/WindowsPowerShell.git
