android/* filter=git-crypt diff=git-crypt
aws/credentials filter=git-crypt diff=git-crypt
azure/accessTokens.json filter=git-crypt diff=git-crypt
azure/azureProfile.json filter=git-crypt diff=git-crypt
azure/AzureRmContext.json filter=git-crypt diff=git-crypt
azure/clouds.config filter=git-crypt diff=git-crypt
azure/dockerAccessToken.json filter=git-crypt diff=git-crypt
azure/AzureRmContext.json filter=git-crypt diff=git-crypt
github-cli/config.yml filter=git-crypt diff=git-crypt
github-cli/hosts.yml filter=git-crypt diff=git-crypt
github/recovery-codes.txt filter=git-crypt diff=git-crypt
kube/config filter=git-crypt diff=git-crypt
docker/github_PAT.txt filter=git-crypt diff=git-crypt
feedly/feedly_api_tokens.yml filter=git-crypt diff=git-crypt
gcloud/** filter=git-crypt diff=git-crypt
boto/.boto filter=git-crypt diff=git-crypt
gdrive/* filter=git-crypt diff=git-crypt

