# Git--LFS
*.pst filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

# linguist - ignore HTML, JS, and Rich Text Format
*.html linguist-vendored
*.js linguist-vendored
*.rtf linguist-vendored

# Git-Crypt
secrets/android/* filter=git-crypt diff=git-crypt
aws/credentials filter=git-crypt diff=git-crypt
azure/accessTokens.json filter=git-crypt diff=git-crypt
azure/azureProfile.json filter=git-crypt diff=git-crypt
azure/AzureRmContext.json filter=git-crypt diff=git-crypt
azure/clouds.config filter=git-crypt diff=git-crypt
azure/dockerAccessToken.json filter=git-crypt diff=git-crypt
azure/AzureRmContext.json filter=git-crypt diff=git-crypt
azure-cli/accessTokens.json filter=git-crypt diff=git-crypt
azure-cli/azureProfile.json filter=git-crypt diff=git-crypt
azure-cli/AzureRmContext.json filter=git-crypt diff=git-crypt
azure-cli/clouds.config filter=git-crypt diff=git-crypt
azure-cli/dockerAccessToken.json filter=git-crypt diff=git-crypt
azure-cli/AzureRmContext.json filter=git-crypt diff=git-crypt
azure-cli/acr_pat filter=git-crypt diff=git-crypt
github-cli/config.yml filter=git-crypt diff=git-crypt
github-cli/hosts.yml filter=git-crypt diff=git-crypt
github/recovery-codes.txt filter=git-crypt diff=git-crypt
kube/config filter=git-crypt diff=git-crypt
docker/github_pat filter=git-crypt diff=git-crypt
docker/github_cr_pat filter=git-crypt diff=git-crypt
docker/acr_pat filter=git-crypt diff=git-crypt
feedly/feedly_api_tokens.yml filter=git-crypt diff=git-crypt
gcloud/AppData/Roaming/gcloud/legacy_credentials/** filter=git-crypt diff=git-crypt
gcloud/AppData/Roaming/gcloud/credentials/** filter=git-crypt diff=git-crypt
gcloud/AppData/Roaming/gcloud/access_tokens.db filter=git-crypt diff=git-crypt
gcloud/AppData/Roaming/gcloud/application_default_credentials.json filter=git-crypt diff=git-crypt
gcloud/AppData/Roaming/gcloud/credentials.db filter=git-crypt diff=git-crypt
boto/.boto filter=git-crypt diff=git-crypt
gdrive/* filter=git-crypt diff=git-crypt
vault/.vault-token filter=git-crypt diff=git-crypt
obsidian/todoist-token filter=git-crypt diff=git-crypt
gnupg/** filter=git-crypt diff=git-crypt
keep/.keep/.credentials filter=git-crypt diff=git-crypt
keep/.archive/.credentials filter=git-crypt diff=git-crypt
R/secrets/** filter=git-crypt diff=git-crypt
R/gargle/** filter=git-crypt diff=git-crypt
R/config.yml filter=git-crypt diff=git-crypt
RStudio/localappdata/ctx/ctx-40565/environment_vars filter=git-crypt diff=git-crypt
RStudio/localappdata/monitored/connection_history.json filter=git-crypt diff=git-crypt
gpg/public_keys/* filter=git-crypt diff=git-crypt
gpg/private_keys/* filter=git-crypt diff=git-crypt
gpg/private_keys/** filter=git-crypt diff=git-crypt
gpg/public_keys/** filter=git-crypt diff=git-crypt
gpg/backup/** filter=git-crypt diff=git-crypt
ssh/gitkraken/* filter=git-crypt diff=git-crypt
ssh/keys/** filter=git-crypt diff=git-crypt
zapier/.zapierrc filter=git-crypt diff=git-crypt
scoop/virustotalapikey filter=git-crypt diff=git-crypt
dbdocs/dbdocstoken filter=git-crypt diff=git-crypt
secrets/** filter=git-crypt diff=git-crypt
code-insiders/dev.to_api_token filter=git-crypt diff=git-crypt
powershell/psgallery-api-key filter=git-crypt diff=git-crypt
gcalcli/.gcalcli_cache filter=git-crypt diff=git-crypt
gcalcli/.gcalcli_oauth filter=git-crypt diff=git-crypt
gcalcli/gcalcli/** filter=git-crypt diff=git-crypt
gcalcli/.gcalclirc filter=git-crypt diff=git-crypt

