
R/archive/


executables/

powertoys/sync.ffs_db

powertoys/Settings Logs/

powertoys/RunnerLogs/

*.log

powertoys/PowerToys Run/LogsModuleInterface/

powertoys/PowerToys Run/Cache/
encrypted-files.txt
