*.log
*.exe
*.zip
*/.history/*
R/archive/
git/.archive
executables/
powertoys/sync.ffs_db
powertoys/Settings Logs/
powertoys/RunnerLogs/
powertoys/PowerToys Run/LogsModuleInterface/
powertoys/PowerToys Run/Cache/
encrypted-files.txt
chocolatey/backup/lib/
registry/snapshots/*
