<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="chocolateygui" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-misc-helpers.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="chocolatey-dotnetfx.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="instchoco" />
  <package id="choco-cleaner" />
  <package id="choco-package-list-backup" />
  <package id="dotnetfx" />
  <package id="dotnet4.7" />
  <package id="DotNet4.5.2" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="vcredist140" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="Boxstarter" />
  <package id="Boxstarter.Bootstrapper" />
  <package id="Boxstarter.Chocolatey" />
  <package id="Boxstarter.Common" />
  <package id="Boxstarter.HyperV" />
  <package id="Boxstarter.WinConfig" />
  <package id="7zip.install" />
  <package id="7zip.commandline" />
  <package id="gsudo" />
  <package id="InnoSetup" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />

















   <package id="nvm.portable" />




   <package id="rtools" />






</packages>
