<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="powershell-core" arguments=" --allow-downgrade --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="powershell-preview" arguments=" --prerelease --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="vscode-insiders.install" />
  <package id="git.install" arguments=" --install-arguments=&quot;&apos;/COMPONENTS=icons,assoc,assoc_sh,autoupdate,windowsterminal,scalar&apos;&quot; --package-parameters=&quot;&apos;/GitAndUnixToolsOnPath /WindowsTerminal /NoShellIntegration /NoAutoCrlf&apos;&quot; --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="git-lfs.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="gitkraken" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="gh" />
  <package id="cascadia-code-nerd-font" />
  <package id="gcloudsdk" arguments=" --not-silent" />
  <package id="lepton" />
  <package id="lsd" />
  <package id="nvm" />
  <package id="openjdk13" />
  <package id="pandoc" />
  <package id="python3" arguments=" --install-arguments=&quot;&apos;/quiet InstallAllUsers=1 PrependPath=1&apos;&quot;" />
  <package id="R.Project" arguments=" --package-parameters=&quot;&apos;/AddToPath&apos;&quot; --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="rtools" />
  <package id="R.Studio" />
  <package id="pandoc" />
  <package id="tinytex" />
  <package id="sqlitebrowser.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
  <package id="yarn" />
  <package id="docker-desktop" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
 <package id="gpg4win" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
<package id="jq" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
