<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="Boxstarter" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Bootstrapper" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Chocolatey" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Common" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.HyperV" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.WinConfig" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="choco-cleaner" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="choco-package-list-backup" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey" arguments="" />
   <package id="chocolatey-core.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey-windowsupdate.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="DotNet4.5.2" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="instchoco" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2919355" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2919442" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2999226" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB3033929" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB3035131" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="python" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="python3" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="rapidee" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="uninstalltool" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist140" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist2015" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vscode-insiders.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
</packages>
