<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="alt-tab-terminator" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Bootstrapper" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Chocolatey" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.Common" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.HyperV" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="Boxstarter.WinConfig" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="choco-cleaner" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="choco-package-list-backup" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey" arguments="" />
   <package id="chocolatey-core.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey-dotnetfx.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey-font-helpers.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolatey-windowsupdate.extension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="chocolateygui" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="docker-desktop" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="DotNet4.5.2" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="dotnetfx" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="evernote" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="gh" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="git.install" arguments=" --install-arguments=&quot;&apos;/COMPONENTS=icons,assoc,assoc_sh,autoupdate,windowsterminal,scalar&apos;&quot; --package-parameters=&quot;&apos;/GitAndUnixToolsOnPath /WindowsTerminal /NoShellIntegration /NoAutoCrlf&apos;&quot; --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="gitkraken" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="gsudo" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="InnoSetup" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="instchoco" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="jq" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2919355" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2919442" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB2999226" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB3033929" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB3035131" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="KB3118401" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="lepton" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="LinkShellExtension" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="lsd" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="microsoft-edge-insider-dev" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="nvm.portable" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="powershell-core" arguments=" --allow-downgrade --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="powershell-preview" arguments=" --prerelease --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="python3" arguments=" --install-arguments=&quot;&apos;/quiet InstallAllUsers=1 PrependPath=1&apos;&quot; --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="R.Project" arguments=" --package-parameters=&quot;&apos;/AddToPath&apos;&quot; --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="R.Studio" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="rapidee" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="rtools" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="sqlitebrowser.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="tinytex" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="uninstalltool.portable" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist140" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist2013" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist2015" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vcredist2017" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="vscode-insiders.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="winaero-tweaker.install" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
   <package id="yarn" arguments=" --cache-location=&quot;&apos;C:\Users\jimmy\AppData\Local\Temp&apos;&quot;" />
</packages>
