<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <Microsoft.Virtualization.Client.CommonConfiguration>
        <setting name="LogUnhandledExceptions" type="System.Boolean">
            <value>False</value>
        </setting>
        <setting name="NeedToConfirmFlag" type="System.Int32">
            <value>-1</value>
        </setting>
        <setting name="VirtualMachineXmlPath" type="System.String">
            <value />
        </setting>
        <setting name="IsoImagePath" type="System.String">
            <value />
        </setting>
        <setting name="VirtualFloppyDiskPath" type="System.String">
            <value />
        </setting>
    </Microsoft.Virtualization.Client.CommonConfiguration>
</configuration>