//registry.npmjs.org/:_authToken=1c530b73-bce9-443f-9853-6368784dc9ad

editor = code-insiders
browser = "start"

all = true
global = true

init.author.name = "Jimmy Briggs"
init.author.email = "jimbrig2011@outlook.com"
init.author.url = "https://github.com/jimbrig"
init-license=MIT

sign-git-commit = true
