//registry.npmjs.org/:_authToken=52e6eca8-bc70-4d82-b357-9c12602e3f79
bin-links = true
color = "always"
editor = code-insiders
browser = "start"
git = "C:\Program Files\Git\bin\git.exe"
init-author-email = "jimmy.briggs@tychobra.com"
init-author-name = "Jimmy Briggs"
init-author-url = "https://github.com/jimbrig"
init-license = MIT
sign-git-commit = true
sign-git-tag = true

# all = true
# global = true






